citeseerdata/
citeseerindexdir/
testindexdir/
testresults/
venv/
dblpfiledir/
dblpdata/
dblpindexdir/
*.pyc
.vscode/
acmindexdir/
citeseerfasttext.model
env/
fasttext.model
icse_id.txt
outputacm.txt
sigmod_id.txt
vldb_id.txt
src/.vscode/
model.bin
trainingclassifier.txt
d2vmodel.bin
d2vmodel.bin.docvecs.vectors_docs.npy
smalldblpfiledir/
.ipynb_checkpoints
Project Presentation.pdf
Project Presentation.slides.html
gtvsnx.png
intelligentciteseerfasttext.model
wordoccurence.png
fasttexttest.txt
fasttexttrain.txt
kmeans.png
testingmodel.bin
webopedia.png
