citeseerdata/
citeseerindexdir/
testindexdir/
testresults/
venv/
dblpfiledir/
dblpdata/
dblpindexdir/
*.pyc
.vscode/
acmindexdir/
citeseerfasttext.model
env/
fasttext.model
icse_id.txt
outputacm.txt
sigmod_id.txt
vldb_id.txt
src/.vscode/
